body {
    background-color: #f4f6f9;
}

.navbar {
    background-color: #0d6efd;
}

.navbar-brand {
    font-weight: bold;
    color: white !important;
}

.card {
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.table th {
    background-color: #0d6efd;
    color: white;
}

.btn {
    border-radius: 20px;
}
